@import url('https://fonts.googleapis.com/css2?family=Meie+Script&family=Monsieur+La+Doulaise&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Meie+Script&family=Monsieur+La+Doulaise&display=swap');
 @import "tailwindcss";

 .meie-script-regular {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
}
